@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #00ffe7, #ff00d4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    animation: glow 2s ease-in-out infinite alternate;
    caret-color: transparent;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(45deg, #0a0a0a, #3a4452);
    caret-color: transparent;
}
.calculator{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(133,115,119,0.5);
   
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    color: white;
    cursor: pointer;
    caret-color: lime;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    font-size: 22px;
    background: transparent;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}
.opt{
    color:  #ff1d58;
}
.equal{
    background-color:green ;
}
.equal:hover{
    background-color: #00ff00;
}
.clr{
    color: DodgerBlue;
}


